In [1]:
#4.1

In [2]:
import pandas as pd
import os

In [3]:
DATA_PATH = os.path.join('names')

In [68]:
def count_top3(years):
    data_frame = pd.DataFrame()
    for year in years:
        file_names = pd.read_csv((os.path.join(DATA_PATH, f'yob{year}.txt')), names=['Name', 'Gender', 'Count'])
        data_frame = pd.concat([data_frame, file_names], names=['Name'], sort=True)
#         
    return data_frame.sort_values(by='Count', ascending=False).head(3)
# count_top3([1880])
count_top3([1900, 1950, 2000])

        Count Gender    Name
6111  86239.0      M   James
6112  83565.0      M  Robert
0     80432.0      F   Linda

In [111]:
def count_dynamics(years):
    names = {}
    for year in years:
        names[year] = pd.read_csv((os.path.join(DATA_PATH, f'yob{year}.txt')), names=['Name','Gender','Count'])
        names_all = pd.concat(names, names=['Year'])
        dynamics = names_all.groupby([names_all.index.get_level_values('Year'),'Gender']).sum()
    return dynamics

count_dynamics([1900, 1950, 2000, 2017])

               Count
Year Gender
1900 F        299800
     M        150483
1950 F       1713151
     M       1790549
2000 F       1815110
     M       1962969
2017 F       1711811
     M       1834490